<% include header %>
  <section>

    
    <div align="center" >
    <h3>Codigo clase:</h3><h1> <%=codigo%></h1>
      <h1>Lista de Preguntas</h1>
    </div>
    

    <div class="container"  width=60% >
      
      <form class="tipo1" action="/buscarpalabra" method="post" >
        <label>Buscar por palabra clave </label>
        <input type="text" name="keyword"/>
        <input type ="hidden" name="asiidhidden" value="">
        <input type ="hidden" name="pairhidden" value=idparalelo>  
        <input type="image" onclick="submit();" src="/public/images/lupa.png" width="20px" height="20px"><br/>
      </form>
      
      <form class="tipo1" action="/buscarfecha" method="post">
        <label>Buscar por fecha&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
        Desde<input type="date" name="mindate" min="2015-01-01" />   
        Hasta<input type="date" name="maxdate"  />
        <input type="image" onclick="submit();" src="/public/images/lupa.png" width="20px" height="20px"><br/>
      </form>

      <form class="tipo1" action="/buscartipo" method="post">
        <label> Tipo de pregunta </label>
        <select name="tipopreg">
          <option value="default">Tipo pregunta</option>
          <option value="1">Alternativas</option>
          <option value="2">Dicotómica</option>
          <option value="3">Escala de Likert</option>           
        </select>
        <input type="image" onclick="submit();" src="/public/images/lupa.png" width="20px" height="20px"><br/>
      </form>
    </div>
    
    <table style="width:60%" align="center" >
      <tr>
        <th>Titulo</th>
        <th>Tipo</th> 
        <th>Vista Previa</th>
        <th>Seleccionar</th>
      </tr>
      <div style="height:100px;overflow:auto;">
        <%for(i in preguntas){%>
          <tr>
            <td><%=preguntas[i].nombre%></td>
            <td><%=preguntas[i].tipo%></td> 
            <td align="center">
                <a href='/docente/seleccionar/preview/<%=preguntas[i].id%>/<%=codigo%>/'><img src="/public/images/vistaprevia.png" width="30px" height="30px"></a>
            </td><%=codigo%>/
            <td align="center">
                <a href='/docente/confirm/<%=preguntas[i].id%>'><img src="/public/images/sharelogo.png" width="30px" height="30px"></a>
            </td>
          </tr>
        <%}%>
      </div> 
    </table>

    <br><br><br>


  <div class="onoffswitch">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
  </div>
  <form align="center">
  Tiempo límite para responder:
  <input type="time" name="usr_time">
</form>

</section>
<div class="container">
  
  <a href="#ventana1" class="btn btn-primary btn-lg" data-toggle="modal" data-target=#ventana1> boton #1 </a>

</div>
<div class="ventana">
  <div class="modal fade" id="ventana1" aria-labelledby="ventana1">
    <div class="modal-dialog">
      <p>lorem </p>

      <div class="modal-content">
        

        <div class="modal-header">
          <button style="button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2 class="modal-title"> Vista Previa</h2>
        </div>

        <div class="modal-body">
          <p>lorem ipsin</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-id="107" data-dismiss="modal">Cerrar</button>
        </div>

      </div>  
    </div> 

  </div>
</div>
    
<% include linkmenudocente %>
<% include footer %>
