<% include header %>


<a class="col-md-3 col-md-offset-4" href="/docente/crearpreguntaalternativa/<%=asignatura.idasignatura%>/<%=asignatura.idparalelo%>">Crear Pregunta Alternativa</a>
<br>
<a class="col-md-3 col-md-offset-4" href="/docente/crearpreguntadicotomica/<%=asignatura.idasignatura%>/<%=asignatura.idparalelo%>">Crear Pregunta Dicotomica</a>
<br>
<a class="col-md-3 col-md-offset-4" href="/docente/crearpreguntaescalalikert/<%=asignatura.idasignatura%>/<%=asignatura.idparalelo%>">Crear Pregunta Escalalikert</a>
<br>

<% include linkmenudocente %>
<% include footer %>