<% include header %>
		<div class="row row-centered">
			<div class="col-sm-8 col-centered">
				<form action="/docente/editarpreguntaalternativa" method="post" enctype="multipart/form-data">
					<label for="">Nombre Pregunta</label><br/>
					<input id="nombrepregunta" name="nombrepregunta" type="text" size="40" value="<%=pregunta.nombre%>"><br/>
					<label for="">Pregunta:</label><br/>
					<input id="pregunta" type="text" name="pregunta" value="<%=pregunta.pregunta%>"size="40"><br/>
					<label for="">Imagen</label><br/>
					<input type="file" id="comprobarImagenes" name="imagen2" onchange="checkExt()"><br/>
					
					<label for="">URL Video</label><br/>
					<input id="url_video" type="text" name="url_video"  value="<%=pregunta.url_video%>" size="40" onchange="ValidarURL()"><br/>
					<label for="">Respuestas:</label><br/>
					<input type="hidden" name="idasignatura" value="<%=asignatura.idasignatura%>">
					<input type="hidden" name="idparalelo" value="<%=asignatura.idparalelo%>">
					<table id="tableId" name="tabla" class="table table-striped" style="width:100%">
						<tr>
			 				<td id="1">Respuestas</td>
							<td id="2">Correcta</td> 
							<td id="3">Seleccionar</td>
						</tr>
						<%for(i in respuestas){%>
							<tr>
								<td><input type="text" name="respuesta" value="<%=respuestas[i].respuesta%>"></td>
								<%if(respuestas[i].correcta=="1"){%>
								<td><input type="radio" name="rad" value="<%=respuestas[i].respuesta%>" checked></td><%}else{%>
									<td><input type="radio" name="rad" value="<%=respuestas[i].respuesta%>"></td>

								<%}%>
								<td><input type="checkbox" name="respuesta" value="<%=respuestas[i].respuesta%>"></td>
						<%}%>
					</table>
					<input class="btn btn-default" type="button" value="Agregar" onclick="agregar()">
					<input class="btn btn-default" type="button" value="Quitar" onclick="quitar()"><br/>
					<label id="demo"></label><br/>
					<label for="">Explicacion respuesta correcta:</label><br/>
					<textarea name="explicacion" id="explicacion" cols="40" rows="5"><%=pregunta.explicacion%></textarea><br/>
					<input class="btn btn-default" id="CrearPregunta" onclick="correcta()" type="submit" value="Crear Pregunta">
					<input class="btn btn-default" type="button" value="Volver" onclick="goBack()">
					<input type="hidden" name="idpregunta" value="<%=asignatura.idpregunta%>">
				</form>	
			</div>
		</div>
	</div>
	
	<style>
	textarea {resize:none;}
	</style>

<% include footer %>