<% include header %>
<div class="row row-centered">
  <div class="col-md-8 col-centered">
   <h2> Eliminar preguntas </h2><br>
  </div>
</div>
<br>
<hr>
<div class="row row-centered">
<table class="table table-striped">
    <tr>
      <td>Nombre</td>
      <td>Pregunta</td>
      <td>Explicación</td>
      <td></td>
    </tr>
    <%for(i in preguntas){%>
    <tr>
      <td><%=preguntas[i].nombre%></td>
      <td><%=preguntas[i].pregunta%></td>
      <td><%=preguntas[i].explicacion%></td>
      <td><a href='/docente/eliminarpreguntasel/<%=preguntas[i].idasignatura%>/<%=preguntas[i].idparalelo%>/<%=preguntas[i].tipo%>/<%=preguntas[i].id%>' onclick="return confirm('¿Estás seguro?')">Eliminar</a></td>
    </tr>
    <%}%>
</table>
</div>
<br>
<hr>
<% include volver %>
<% include linkmenudocente %>
<% include footer %>